.Notes {
  width: 95vw;
  max-width: 600px;
  min-height: 80vh;
  margin: 0 auto;
  margin-bottom: 150px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h5 {
  color: gray;
}

.errorMessage {
  color: rgba(165, 42, 42, 0.5);
  text-transform: lowercase;
  font-weight: bold;
}

@media (max-width: 650px) {
  .Notes {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}