.Notes {
  width: 95vw;
  max-width: 600px;
  min-height: 80vh;
  margin: 0 auto;
  padding-top: 15px;
}

h5 {
  color: gray;
}

.errorMessage {
  color: rgba(165, 42, 42, 0.5);
  text-transform: lowercase;
  font-weight: bold;
}